<?xml version="1.0"?>

<!-- top level -->
<robot name="med14" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the Med 14 R820 macro -->
    <xacro:include filename="$(find lbr_med14_r820_description)/urdf/lbr_med14_r820_macro.xacro" />

    <!-- arguments -->
    <xacro:arg name="robot_name" default="lbr" />
    <xacro:arg
        name="joint_limits_path"
        default="$(find lbr_med14_r820_description)/config/joint_limits.yaml" />

    <!-- Med 14 R820 description -->
    <xacro:med14_r820
        robot_name="$(arg robot_name)"
        joint_limits_path="$(arg joint_limits_path)" />
</robot>